{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape | upcase -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %} space-full-width {% if mega_menu_content_inline %} child-link-inline{% endif %} {% if link.levels == 2 %} grandchild{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if link.links.first.handle == childlink.handle %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {% if mega_menu_content_inline and childlink.links == blank %}
                          <span class="mega-menu__link-icon">
                            {{- 'icon-down-to-right.svg' | inline_asset_content -}}
                          </span>
                        {% endif %}
                        {{ childlink.title | escape |  upcase }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled " role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape | upcase }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape | upcase -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

<script>
    class MegaMenu {
  constructor() {
    this.init();
  }

  init() {
    if (window.innerWidth >= 990) {
      this.setupEventListeners();
    }
  }

  setupEventListeners() {
    // Loop through section.settings.menu.links
    const menuLinks = {{ section.settings.menu.links | json }};
    menuLinks.forEach((link, index) => {
      const linkElement = document.querySelector(`#Details-HeaderMenu-${index}`);
      if (linkElement) {
        
        linkElement.addEventListener('click', () => {
          const firstChild = linkElement.querySelector('.mega-menu__list.grandchild .mega-menu__link.mega-menu__link--level-2');
          const childList = linkElement.querySelectorAll('.mega-menu__list.grandchild .mega-menu__link.mega-menu__link--level-2');
          if (firstChild) {
            childList.forEach(l => l.classList.remove('mega-menu__link--active'));
            firstChild.classList.add('mega-menu__link--active');
          }
        });
      }
    });
    const megaMenuLinks = document.querySelectorAll('.mega-menu__list.grandchild .mega-menu__link.mega-menu__link--level-2');
    megaMenuLinks.forEach(link => {
      link.addEventListener('click', (event) => {
        if (window.innerWidth >= 990) {
          event.preventDefault();
          event.stopPropagation();
          // Remove 'mega-menu__link--active' class from all links
          megaMenuLinks.forEach(l => l.classList.remove('mega-menu__link--active'));
          
          // Add 'mega-menu__link--active' class to the clicked link
          event.currentTarget.classList.add('mega-menu__link--active');
        }
      });
    });
  }
}

// Initialize the MegaMenu
document.addEventListener('DOMContentLoaded', () => {
  const megaMenu = new MegaMenu();

  // Re-initialize on window resize
  window.addEventListener('resize', () => {
    megaMenu.init();
  });
});
</script>

