<div class="price-range-slider">
  <span class="field-currency">{{ cart.currency.symbol }}</span>
  <div class="slider-container">
    <div class="slider-track">&nbsp;</div>
    <input
      type="range"
      class="slider min-slider"
      name="{{ filter.min_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
      min="100000"
      max="50000000"
      step="10000"
      value="{{ filter.min_value.value | default: 0 | money_with_currency | strip_html | escape | replace: ' VND', '' | replace: '.', '' }}"
    >
    <input
      type="range"
      class="slider max-slider"
      name="{{ filter.max_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
      min="100000"
      max="50000000"
      step="10000"
      value="{{ filter.max_value.value | default: filter.range_max | money_with_currency | strip_html | escape | replace: ' VND', '' | replace: '.', '' }}"
    >
  </div>
  <div class="slider-labels">
    <span class="slider-label min-label">{{ filter.min_value.value | default: 0 | money_with_currency }}</span>
    <span class="slider-label max-label">{{ filter.max_value.value | default: filter.range_max | money_with_currency }}</span>
  </div>
</div>
